## Importing and Exploring the Data

Let's look at the data first. Import and show the head data.
As we are interested in the dataset as a whole, import and concatenate training and test set.

In [176]:
import pandas as pd

car_data_training = pd.read_csv('training.csv', na_values=['NA'])
car_data_test = pd.read_csv('test.csv', na_values=['NA'])
car_data = car_data_training + car_data_test
car_data["RefId"].head()

0    73016.0
1    73018.0
2    73020.0
3    73022.0
4    73024.0
Name: RefId, dtype: float64

Now we can look at some statistics

In [177]:
car_data.describe()

,BYRNO,IsBadBuy,IsOnlineSale,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,RefId,VNZIP1,VehBCost,VehOdo,VehYear,VehicleAge,WarrantyCost,WheelTypeID
count,48707.000000,0.0,48707.000000,48684.000000,48684.000000,48684.000000,48684.000000,48360.000000,48360.000000,48360.000000,48360.000000,48707.000000,48707.000000,48707.000000,48707.00000,48707.000000,48707.000000,48707.000000,44843.000000
mean,50609.747552,NaN,0.049089,12263.149741,14777.899104,17085.854860,19823.464218,12241.681266,14781.654342,17603.141563,20368.253846,121747.142012,109061.742029,13503.951521,143546.82639,4010.639600,8.441579,2571.075143,2.950494
std,33558.344166,NaN,0.219451,3480.586645,3853.605560,4425.780899,4753.651535,3438.139261,3802.828158,4310.027415,4631.218529,28135.004954,37945.923373,2489.386639,20391.82592,2.429685,2.405306,856.253118,0.731187
min,1670.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,73016.000000,30908.000000,5335.000000,51036.00000,4002.000000,2.000000,944.000000,1.000000
25%,29225.000000,NaN,0.000000,9883.000000,12182.000000,14099.000000,16665.750000,9851.000000,12157.000000,14670.000000,17251.000000,97381.000000,70008.000000,11795.000000,130225.00000,4009.000000,7.000000,1980.000000,2.000000
50%,39713.000000,NaN,0.000000,12150.000000,14631.000000,17041.000000,19788.000000,12097.000000,14605.000000,17552.000000,20308.000000,121749.000000,107944.000000,13435.000000,144903.00000,4011.000000,8.000000,2463.000000,3.000000
75%,46028.000000,NaN,0.000000,14519.000000,17221.250000,20034.000000,22945.000000,14463.250000,17194.000000,20477.000000,23425.000000,146113.000000,135391.000000,15155.000000,158224.00000,4012.000000,10.000000,3012.000000,3.000000
max,199522.000000,NaN,2.000000,40310.000000,44899.000000,49368.000000,54748.000000,40192.000000,45436.000000,50793.000000,55320.000000,170480.000000,188823.000000,66900.000000,206040.00000,4017.000000,18.000000,11005.000000,6.000000

So we see, we are missing some values. __WheelTypeID__ and __MMRAcquisition*__

But before handling missing values, lets plot the data first. For that, we have to set up the plotting lib first

In [6]:
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sb

Let's create a __scatterplot matrix__ to have a first glance!

In [4]:
# as it's a 32x32 matrix, we will skip this for now
# sb.pairplot(car_data.dropna(), hue='IsBadBuy')

__IsBadBuy__ is a bool, so there should only be 2 values, 1 and 0, right?

In [178]:
car_data.columns

Index([u'AUCGUART', u'Auction', u'BYRNO', u'Color', u'IsBadBuy',
       u'IsOnlineSale', u'MMRAcquisitionAuctionAveragePrice',
       u'MMRAcquisitionAuctionCleanPrice', u'MMRAcquisitionRetailAveragePrice',
       u'MMRAcquisitonRetailCleanPrice', u'MMRCurrentAuctionAveragePrice',
       u'MMRCurrentAuctionCleanPrice', u'MMRCurrentRetailAveragePrice',
       u'MMRCurrentRetailCleanPrice', u'Make', u'Model', u'Nationality',
       u'PRIMEUNIT', u'PurchDate', u'RefId', u'Size', u'SubModel',
       u'TopThreeAmericanName', u'Transmission', u'Trim', u'VNST', u'VNZIP1',
       u'VehBCost', u'VehOdo', u'VehYear', u'VehicleAge', u'WarrantyCost',
       u'WheelType', u'WheelTypeID'],
      dtype='object')

## Data cleaning

Looks good so far, but there are missing values, so we have to fix that. First, determine these lines:

In [180]:
car_data.loc[
    car_data['WheelTypeID'].isnull() |
    car_data['MMRAcquisitionAuctionAveragePrice'].isnull() |
    car_data['MMRAcquisitionAuctionCleanPrice'].isnull() |
    car_data['MMRAcquisitionRetailAveragePrice'].isnull() |
    car_data['MMRAcquisitonRetailCleanPrice'].isnull() |
    car_data['MMRCurrentAuctionAveragePrice'].isnull() |
    car_data['MMRCurrentAuctionCleanPrice'].isnull() |
    car_data['MMRCurrentRetailAveragePrice'].isnull() |
    car_data['MMRCurrentRetailCleanPrice'].isnull(),
    "RefId"
].count()

4199

Let's start with the MMR Prices. As there are no infos, we simply build an average value for these values.  
Except for the wheel info. As there is no easy way of extracting this data, I zeroed them out to be able to use the remaining data out of the entry in question anyway.  
Idea for WheelType: Build the mean over every manufacturer, which wheel type they use and make an educated guess for the entry in question.  
But let's start with the auction values. Simply average them without specialization and set the average on missing vals.
__The Average value is calculated by using the full data available!__

In [181]:
MMR_AAAP = car_data['MMRAcquisitionAuctionAveragePrice'].mean()
MMR_AACP = car_data['MMRAcquisitionAuctionCleanPrice'].mean()
MMR_ARAP = car_data['MMRAcquisitionRetailAveragePrice'].mean()
MMR_ARCP = car_data['MMRAcquisitonRetailCleanPrice'].mean()
MMR_CAAP = car_data['MMRCurrentAuctionAveragePrice'].mean()
MMR_CACP = car_data['MMRCurrentAuctionCleanPrice'].mean()
MMR_CRAP = car_data['MMRCurrentRetailAveragePrice'].mean()
MMR_CRCP = car_data['MMRCurrentRetailCleanPrice'].mean()
#print(MMR_AAAP, MMR_ARAP, MMR_ARCP, MMR_CAAP, MMR_CACP, MMR_CRAP, MMR_CRCP)

(12263.14974118807, 17085.854859912906, 19823.464218223646, 12241.681265508685, 14781.654342431762, 17603.141563275436, 20368.253846153846)

In [182]:
car_data_training.loc[car_data['MMRAcquisitionAuctionAveragePrice'].isnull(), "MMRAcquisitionAuctionAveragePrice"] = MMR_AAAP
car_data_training.loc[car_data['MMRAcquisitionAuctionCleanPrice'].isnull(), "MMRAcquisitionAuctionCleanPrice"] = MMR_AACP
car_data_training.loc[car_data['MMRAcquisitionRetailAveragePrice'].isnull(), "MMRAcquisitionRetailAveragePrice"] = MMR_ARAP
car_data_training.loc[car_data['MMRAcquisitonRetailCleanPrice'].isnull(), "MMRAcquisitonRetailCleanPrice"] = MMR_ARCP
car_data_training.loc[car_data['MMRCurrentAuctionAveragePrice'].isnull(), "MMRCurrentAuctionAveragePrice"] = MMR_CAAP
car_data_training.loc[car_data['MMRCurrentAuctionCleanPrice'].isnull(), "MMRCurrentAuctionCleanPrice"] = MMR_CACP
car_data_training.loc[car_data['MMRCurrentRetailAveragePrice'].isnull(), "MMRCurrentRetailAveragePrice"] = MMR_CRAP
car_data_training.loc[car_data['MMRCurrentRetailCleanPrice'].isnull(), "MMRCurrentRetailCleanPrice"] = MMR_CRCP

car_data_test.loc[car_data['MMRAcquisitionAuctionAveragePrice'].isnull(), "MMRAcquisitionAuctionAveragePrice"] = MMR_AAAP
car_data_test.loc[car_data['MMRAcquisitionAuctionCleanPrice'].isnull(), "MMRAcquisitionAuctionCleanPrice"] = MMR_AACP
car_data_test.loc[car_data['MMRAcquisitionRetailAveragePrice'].isnull(), "MMRAcquisitionRetailAveragePrice"] = MMR_ARAP
car_data_test.loc[car_data['MMRAcquisitonRetailCleanPrice'].isnull(), "MMRAcquisitonRetailCleanPrice"] = MMR_ARCP
car_data_test.loc[car_data['MMRCurrentAuctionAveragePrice'].isnull(), "MMRCurrentAuctionAveragePrice"] = MMR_CAAP
car_data_test.loc[car_data['MMRCurrentAuctionCleanPrice'].isnull(), "MMRCurrentAuctionCleanPrice"] = MMR_CACP
car_data_test.loc[car_data['MMRCurrentRetailAveragePrice'].isnull(), "MMRCurrentRetailAveragePrice"] = MMR_CRAP
car_data_test.loc[car_data['MMRCurrentRetailCleanPrice'].isnull(), "MMRCurrentRetailCleanPrice"] = MMR_CRCP

#And just for fun and statistics, set the vals in the concatenated list, too
car_data.loc[car_data['MMRAcquisitionAuctionAveragePrice'].isnull(), "MMRAcquisitionAuctionAveragePrice"] = MMR_AAAP
car_data.loc[car_data['MMRAcquisitionAuctionCleanPrice'].isnull(), "MMRAcquisitionAuctionCleanPrice"] = MMR_AACP
car_data.loc[car_data['MMRAcquisitionRetailAveragePrice'].isnull(), "MMRAcquisitionRetailAveragePrice"] = MMR_ARAP
car_data.loc[car_data['MMRAcquisitonRetailCleanPrice'].isnull(), "MMRAcquisitonRetailCleanPrice"] = MMR_ARCP
car_data.loc[car_data['MMRCurrentAuctionAveragePrice'].isnull(), "MMRCurrentAuctionAveragePrice"] = MMR_CAAP
car_data.loc[car_data['MMRCurrentAuctionCleanPrice'].isnull(), "MMRCurrentAuctionCleanPrice"] = MMR_CACP
car_data.loc[car_data['MMRCurrentRetailAveragePrice'].isnull(), "MMRCurrentRetailAveragePrice"] = MMR_CRAP
car_data.loc[car_data['MMRCurrentRetailCleanPrice'].isnull(), "MMRCurrentRetailCleanPrice"] = MMR_CRCP

Let's take care of the wheeltype problem. First, identify possible values

In [183]:
car_data["WheelTypeID"].unique()

array([  2.,   3.,  nan,   4.,   5.,   6.,   1.])

In [184]:
car_data["WheelType"].unique()

array(['AlloyAlloy', 'CoversAlloy', nan, 'CoversCovers', 'AlloyCovers',
       'SpecialAlloy', 'CoversSpecial', 'SpecialCovers', 'AlloySpecial',
       'SpecialSpecial'], dtype=object)

As one can see, there are already cases, where the wheeltype was unknown - there, the ID is set to 0. So let's do that for the rest too. To be a bit more descriptive, I added a new category named _Unknown_

In [185]:
car_data.loc[car_data['WheelTypeID']==0.0, ["RefId","WheelTypeID", "WheelType"]].head()

Empty DataFrame
Columns: [RefId, WheelTypeID, WheelType]
Index: []

In [186]:
car_data.loc[car_data['WheelTypeID'].isnull(),  "WheelTypeID"]  = 0.0
car_data.loc[car_data['WheelType'].isnull(),  "WheelType"]  = "Unknown"

car_data.loc[:,["WheelType", "WheelTypeID"]].head()

     WheelType  WheelTypeID
0   AlloyAlloy          2.0
1   AlloyAlloy          2.0
2  CoversAlloy          3.0
3   AlloyAlloy          2.0
4      Unknown          0.0

This should do the trick. Let's check again:

In [187]:
car_data.loc[car_data['WheelTypeID']==0.0, ["RefId","WheelTypeID", "WheelType"]].head()

      RefId  WheelTypeID WheelType
4   73024.0          0.0   Unknown
9   73034.0          0.0   Unknown
11  73038.0          0.0   Unknown
12  73040.0          0.0   Unknown
26  73068.0          0.0   Unknown

Looks good. A final test, if we successfully managed to clean the dataset:

In [188]:
car_data.loc[
    car_data['WheelTypeID'].isnull() |
    car_data['MMRAcquisitionAuctionAveragePrice'].isnull() |
    car_data['MMRAcquisitionAuctionCleanPrice'].isnull() |
    car_data['MMRAcquisitionRetailAveragePrice'].isnull() |
    car_data['MMRAcquisitonRetailCleanPrice'].isnull() |
    car_data['MMRCurrentAuctionAveragePrice'].isnull() |
    car_data['MMRCurrentAuctionCleanPrice'].isnull() |
    car_data['MMRCurrentRetailAveragePrice'].isnull() |
    car_data['MMRCurrentRetailCleanPrice'].isnull(),
    "RefId"
].count()

0

## Saving the data as cleaned csv

In [189]:
car_data_training.to_csv("training_clean.csv")
car_data_test.to_csv("test_clean.csv")